:root {
  --blue: #dee1e4;
  --white: #fff;
  --green: #00ff00;
}
body {
  /* background: linear-gradient(145deg, #0c99a3, #10cbd9); */
  height: 100vw;
  overflow-y: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.todo_wrapper {
  width: 100%;
  height: 100%;
}
.inputs {
  display: flex;
  justify-content: center;
  /* height: 100%; */
}
#light {
  background: #dee1e8;
}
#dark {
  background: #272626;
}

#light .input_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 35%;
  height: 80vh;
  font-size: 1.2rem;
  border-radius: 4%;
  background: #dee1e8;
  box-shadow: 10.21px 10.21px 15px #b2b4ba, -10.21px -10.21px 15px #ffffff;
  overflow-y: auto;
}

#dark .input_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 35%;
  height: 80vh;
  font-size: 1.2rem;
  border-radius: 16px;
  background: #272626;
  box-shadow: 9px 9px 18px #131313, -9px -9px 18px #3b3939;
  overflow-y: auto;
}

.input_area::-webkit-scrollbar {
  width: 3px;
}
.input_area_field {
  position: fixed;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 50%;
  display: flex;
  justify-content: center;
}
#light .input_area_field > input {
  outline: none;
  border: none;
  padding-left: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 9px;
  background: #dee1e8;
  box-shadow: inset 5px 5px 9px #cbc8c8, inset -5px -5px 9px #ffffff;
}
#dark .input_area_field > input {
  outline: none;
  border: none;
  padding-left: 8px;
  color: #c2bdbd;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 16px;
  background: #272626;
  box-shadow: inset 5px 5px 11px #131313, inset -5px -5px 11px #3b3939;
}
#light .add_btn {
  border: none;
  border-radius: 15px;
  margin-left: 8px;
  color: #332c2c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.4px;
  border-radius: 12px;
  background: #dee1e8;
  box-shadow: inset 5px 5px 9px #cbc8c8, inset -5px -5px 9px #ffffff;
}
#dark .add_btn {
  border: none;
  margin-left: 8px;
  color: #c2bdbd;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.4px;
  border-radius: 13px;
  background: #272626;
  box-shadow: inset 5px 5px 11px #131313, inset -5px -5px 11px #3b3939;
}
#light .add_btn:active {
  border-radius: 15px;
  background: #dee1e8;
  box-shadow: 10.21px 10.21px 15px #b2b4ba, -10.21px -10.21px 15px #ffffff;
}
#dark .add_btn:active {
  border-radius: 15px;
  background: #272626;
  box-shadow: 5px 5px 11px #131313, -5px -5px 11px #3b3939;
}

.input_area_field > button {
  padding: 10px 12px;
  outline: none;
  cursor: pointer;
}
#dark .all_todo {
  display: flex;
  padding: 12px 4px;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  color: #9c9ea0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 18px;
  font-size: 1rem;
  border-radius: 16px;
  background: #272626;
  box-shadow: inset 5px 5px 11px #131313, inset -5px -5px 11px #3b3939;
}
#light .all_todo {
  display: flex;
  padding: 12px 4px;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  color: #493e3e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.4px;
  margin-bottom: 18px;
  font-size: 1rem;
  border-radius: 12px;
  background: #dee1e8;
  box-shadow: inset 5px 5px 9px #cbc8c8, inset -5px -5px 9px #ffffff;
}

.all_todo > div {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
#light .all_todo > div > button {
  padding: 5px 14px;
  margin-right: 8px;
  cursor: pointer;
  border: none;
  color: #393737;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.4px;
  border-radius: 12px;
  background: #dee1e8;
  box-shadow: inset 5px 5px 9px #cbc8c8, inset -5px -5px 9px #ffffff;
}
#dark .all_todo > div > button {
  padding: 5px 14px;
  margin-right: 8px;
  cursor: pointer;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #afaeae;
  letter-spacing: 0.4px;
  border-radius: 12px;
  background: #272626;
  box-shadow: inset 5px 5px 11px #131313, inset -5px -5px 11px #3b3939;
}
#light .all_todo > div > button:active {
  border-radius: 13px;
  background: #dee1e8;
  box-shadow: 10.21px 10.21px 15px #b2b4ba, -10.21px -10.21px 15px #ffffff;
}
#dark .all_todo > div > button:active {
  border-radius: 13px;
  background: #272626;
  box-shadow: 5px 5px 11px #131313, -5px -5px 11px #3b3939;
}

.todoItems {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch {
  display: flex;
  height: 100%;
  padding-top: 2rem;
  justify-content: flex-end;
  margin-right: 2rem;
}
